<html>
<head>
    <script src="/socket.io/socket.io.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script> var dashboardid=<%= dashboardid %>;var my_cities=<%- mydashboard %>;  var myElements = <%- currentDashElements %>;
    var weatherdata = <%- weatherData %>; </script>
    <!--
    <script src="http://code.highcharts.com/highcharts.js"></script>
    -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.js"></script>
    <script src="https://raw.githack.com/lalikir/onlab_2015_01/master/app/public/js/jquery-watch.js"> </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



    <!-- *******	Ez majd akkor kell amikor kikerül innen a chart a külön fájlba	********
        <script src="https://raw.githack.com/lalikir/onlab_2015_01/master/js/line_chart.js"/> </script>
      -->

    <!--
    ********************CSEMPÉK CSS fájlja **************************************
     <link rel='stylesheet' type='text/css' href='css/packery-docs.css'/>
        -->



    <style>

        #linechart_material {
            margin-bottom: 20px;
        }

        /****
          *
          *   Csempéket kezelő kódrészlet
          *
          ********/


        {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body { font-family: sans-serif; }

        .packery {
            background: #FDD;
            background: hsla(45, 1%, 90%, 0.2);
        }

        /* clearfix */
        .packery:after {
            content: ' ';
            display: block;
            clear: both;
        }
        .item {
            width: 40px;
            height: 40px;
            float: left;
            background: white;
            border: 0px solid #333;
            border-color: hsla(0, 0%, 0%, 0);
        }

        .item:hover {
            border-color: white;
            cursor: move;
        }
        a {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            background: url('../assets/img/delete-icon.png');
            background-size: 	contain;
            cursor: pointer;
        }

        .item.w2 { width:   80px; background: #9C0; }
        .item.h2 { height:  80px; background: #0C9; }
        .item.h4 { height: 240px; background: #C90; }
        .item.w4 { width:  480px; background: #90C; }
        .item.h6 { height: 390px; background: #C90; }
        .item.w6 { width:  700px; background: #90C; }


        .item.is-dragging,
        .item.is-positioning-post-drag {
            border-color: yellow;
            background: #09F;
            z-index: 2;
        }



    </style>

</head>
<body>


<div class=container-fluid>
	<div id="select_city" class="form-group col-sm-3">
		<label for="city_list">	Város:</label>
		<select id="city_list" class= "form-control"> </select>
	</div>

	<div id="select_size" class="form-group col-sm-3">
		<label for="sizes"> Méret:</label>
		<select id="sizes" class="form-control" >
			<option value="Kicsi">Kicsi</option>
			<option value="Közepes" selected="selected">Közepes</option>
			<option value="Nagy">Nagy</option>
		</select>
	</div>
	<input type="button" class="btn btn-primary" style="margin-top: 25px;" onclick="magic()" id="kuld" value="Kiválaszt!"></input>
	
	<div class="col-sm-12">


	<!--   <div>Holnapi hőmérséklet: <p id= "test" style="color:blue;font-weight:bold"></p></div>	-->



	<h1>Hőmérsékleti grafikonok</h1>

	<div id = "charts" class="packery">

	</div>
	</div>
</div>







<script>

    var chart;
    var options;
    var chartdata;
    var charts_number;
    var highestId = 0;      //aktuális elemek száma
    var citycntr = 0;
    var LastElement = 0;      //utolsóként hozzáadott elem
    var cities = [];
    var positionlist = [];
    var sizestring = "";
    var actualElement = {};
    var subscribed = 0;             //vizsgaljuk hogy betoltodott-e minden korabbi elem
    var loadTime = false;
    var blocked = false;        //az elemek mozgasat csak akkor figyeljuk ha ennek az erteke "false"


    var $container = $('.packery').packery({
        itemSelector: '.item',
        columnWidth: 80,
        rowHeight: 80
    });

    /**
     *
     *
     *oldal betöltésekor hajtódik végre
     *
     **/


    $(document).ready(function() {
        
        //subscribe "buildchart" event and set highestId
        setGlobalVariable();
        socket.emit("joinrequest", dashboardid);          //ertesiti a szervert hogy az adott azonositohoz uj kapcsolat van
        socket.on("newPositions", function(data){       //amikor valamelyik kliens mozgatja az elemeket ez hivodik meg
            var recieved = JSON.parse(data);

            if (recieved.length > my_cities.length){
                my_cities.push(recieved[length-1]);
                loadStoredElements((my_cities.length)-1);
            }

            for (i in recieved){
                blocked = true;
                //amig az elemek pozicioi helyükre kerülnek, kikapcsoljuk a poziciofigyelest
                setTimeout(function(){blocked = false}, 1000);
                my_cities[i].top = recieved[i].top;
                my_cities[i].left = recieved[i].left;
            }

            //abban az esetben ha nem csak a poziciók módosultak, hanem új elem is hozzáadásra került.



            modifyPositions();
        })

            //LastElement=addNewDataElement(elem.elemid);


        var mydata = new Object();

        var $container = $('.packery').packery();

        $("#kuld").on('click', function() {
            highestId++;
            citycntr = highestId;
            addNewDataElement('linechart_material_' + highestId, $("#city_list option:selected").text(), function(element){
                LastElement = element;
                watch(LastElement.id);
                socket.emit('newcity', $("#city_list option:selected").text())
                //socket.emit("getcity", $("#city_list option:selected").text());
                var newElement = {
                    id : dashboardid,
                    cityname : $("#city_list option:selected").text(),
                    elemid: LastElement.id,
                    top: LastElement.style.top,
                    left: LastElement.style.left,
                    size: ($("#sizes option:selected").text())
                }
                myElements.push(newElement);
                socket.emit("dash", newElement);
            });
        });
    });

    function addNewDataElement(elemID, cityName, cb) {

        var elems = [];
        //a cityname az adott id-hoz tarolt varos neve, ami a classname elso parametere lesz
        var elem = getItemElement(elemID, cityName);
        elems.push(elem);

        // append elements to container
        $container.append(elems);
        // add and lay out newly appended elements
        $container.packery('appended', elems);
        var $currentItem = $container.find(elems);
        $currentItem.draggable();

        $container.packery( 'bindUIDraggableEvents', $currentItem );

        console.log("hozzaadva");

        cb(elem);

    }

    function getItemElement(elemID, cityName) {

        // Create new div element to store new data from server
        var elem = document.createElement('div');
        //Beállítjuk a létrehozandó elem méretét.
        //w*, h* értékekhez tartozó méretek (px-ben) már korábban megadásra kerültek

        if($("#sizes option:selected").text()=="Kicsi"){
            var widthClass = 'w2';
            var heightClass = 'h2';
        }
        else if($("#sizes option:selected").text()=="Közepes"){
            var widthClass = 'w4';
            var heightClass = 'h4';
        }
        else {
            var widthClass = 'w6';
            var heightClass = 'h6';
        }

        /*
         //remove not alphanumeric characters from selected element
         var selectedItem = $("#city_list option:selected").text().toString();
         selectedItem = selectedItem.replace(/[^0-9a-z]/gi, '');
         console.log(selectedItem);
         */

        var elemtype = "linechart";
        elem.id = elemID;
        elem.className = cityName + '_' +  ' ' + $("#sizes option:selected").text() + ' ' +
                elemtype + ' ' + 'item ' + widthClass + ' ' + heightClass ;

        return elem;

    }



    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
                break;
            }
        }
    }

    /***
     *
     *    Amennyiben új elemet adunk a dashboardhoz, ezt az elemet hozzáadjuk a kiválasztott adathoz
     *    tartozó szobához
     */

    function subscribeRoom() {
        //a subscribed akkor valt egyesre, ha minden betoltodott, igy elkerulheto, hogy tobbszor iratkozzunk
        //fel egy esemenyre
        if(subscribed==0) {
            console.log('itt');
            socket.on('newdata', function (response) {

                console.log(JSON.parse(response).city.name);
                response = JSON.parse(response)

                console.log('Incoming message:');

                var time = 500;

                $('.packery').children().each(function () {
                    if (this.className.split('_')[0] == response.city.name) {
                        console.log("ejejej");
                        var current = this;
                        setTimeout(function(){console.log (current.id);buildChart(current.id, JSON.stringify(response))}, time);
                        time+=500;
                    }
                });

            })
        }
    }

    /***
     *
     *    Manuálisan lehet elindítani a grafikon készítését.
     *    @ data: a teljes JSON, amit a szerver a távoli kiszolgálótól kap
     */


    function buildChart(chartID, data){

        var city_json=JSON.parse(data);
        //console.log($('.packery').children()[0].className.split('_')[0]);
        var temp = $('.packery').children()[0].className.split('_')[0];
        //console.log(city_json)
        //document.getElementById('test').innerHTML = city_json.list[1].temp.day-273.15;

        createchart(chartID, city_json,  function() { chart.draw(chartdata, options);});
        cities.push(city_json.city.name);


        if(chartID==myElements[myElements.length-1].elemid) {
                subscribeRoom();
  //              magic();          //amikor már minden vacak betöltődött, akkor meghívjuk ezt a függvényt
                setTimeout(modifyPositions, 0);

            subscribed = 1;
        }
/*

        }*/



        console.log("frissult");
    }


    var socket = io();
    socket.on('info', function (data) {
        console.log("info")
        socket.emit("subscribeStoredelementChanges", dashboardid);
        var cities = [];
        for (var i=0 in data){
            cities.push(data[i].name);
        }
        cities.sort();

        for (var i=0 in cities){
            var select = document.getElementById('city_list');
            select.options[select.options.length] = new Option(cities[i], cities[i]);
        }
        //
        console.log(cities);
    });


    //BETÖLTÉSKOR FELTÖLTI AZ OLDALT

    function loadStoredElements(index){
        console.log("loadingfunction");
        console.log(index+ 'index')
        citycntr = index;
        console.log(myElements[citycntr].elemid)
        addNewDataElement(myElements[index].elemid, myElements[index].cityname, function(element){
            LastElement = element;
            watch(LastElement.id);
            console.log("rajzolom: " + weatherdata[index]);
            buildChart(LastElement.id, JSON.stringify(weatherdata[index]));
        });

    }

    function setGlobalVariable()
    {
        //ser highestId counter to the last stored element id
        if(myElements.length > 0) {
            var lastElementId = myElements[myElements.length-1].elemid;
            lastElementId = lastElementId.split('_');
            highestId = lastElementId[lastElementId.length - 1];
            console.log("utolso elem:" + highestId);
        } else {
            highestId = 0;
        }

        socket.on("buildchart", function (data){
            buildChart('linechart_material_' + highestId, data);
        });

    }

    /********************** CSS Változások figyelése**************************/

    var moveTimeout = null;

    function watch(elem) {
        //console.log("watched");
        var el = $("#"+LastElement.id);
        el.watch({
            properties: "top,left",
            callback: moveReaction
        });



        function moveReaction() {

                if (moveTimeout)
                    clearTimeout(moveTimeout);
                moveTimeout = setTimeout(sendPosition, 500);

        }
    }

    function sendPosition(){


        positionlist = [];

        //if myElements list empty, walk through elements sequentially

        if (myElements.length == 0) {
            for (i = 0; i < highestId; i++) {
                var tmp = document.getElementById('linechart_material_' + i);
                if (tmp) {
                    console.log("kiir");
                    console.log(tmp);
                    var o = {};
                    o.id = dashboardid;
                    o.elemid = tmp.id;
                    o.cityname = cities[i];
                    o.top = tmp.style.top;
                    o.left = tmp.style.left;
                    o.charts = document.getElementById('charts').style.height;
                    positionlist.push(o);
                }
            }
        } else {
            myElements.forEach(function(elem){
                var tmp = document.getElementById(elem.elemid);
                if (tmp) {
                    console.log("kiir");
                    console.log(tmp);
                    var o = {};
                    o.id = dashboardid;
                    o.elemid = tmp.id;
                    o.cityname = cities[i];
                    o.top = tmp.style.top;
                    o.left = tmp.style.left;
                    o.charts = document.getElementById('charts').style.height;
                    positionlist.push(o);
                }
            })


        }
        console.log(JSON.stringify(positionlist));
        if(blocked == false){
            socket.emit("positions", positionlist);
        }

    }


    function modifyPositions(){
        document.getElementById("charts").style.height = my_cities[0].wrapper_height;
        for (i=0; i<my_cities.length; i++){
            var current = document.getElementById(my_cities[i].elemid);
            console.log(current.style.left);
            current.style.top = my_cities[i].top;
            current.style.left = my_cities[i].left;
        }
    }

    function removeItem(){
        console.log();

        var $container = $('.packery').packery();
        $container.packery( 'remove', this.parentNode );
        $container.packery();
        socket.emit("delete", {id:dashboardid,  elemid: this.parentNode.id});
        /*if (my_cities.length!=0){
         for(i = 0; i<my_cities.length; i++)
         {
         if(my_cities[i].elemid == this.parentNode.id){
         socket.emit("delete", {id:dashboardid,  elemid: my_cities[i].elemid});
         my_cities.splice(i,1);


         }
         }

         moveR();
         }*/

    }


    function readyHandler(){
        console.log("+++++++++++++++")
    }





    /********************** Chart inicializálása**************************/

    function createchart(chartID, chartJSON, callback) {
        chartdata = new google.visualization.DataTable();
        chartdata.addColumn('string', 'Day');
        chartdata.addColumn('number', 'Napi átlag C°');
        console.log($("#sizes option:selected").text());
        if($("#sizes option:selected").text()=="Kicsi"){
            var widthClass = '80px';
            var heightClass = '80px';
        }
        else if($("#sizes option:selected").text()=="Közepes"){
            var widthClass = "480px";
            var heightClass = "240px";
        }
        else if($("#sizes option:selected").text()=="Nagy") {
            var widthClass = "700px";
            var heightClass = "390px";
        }
        options = {
            chart: {
                title: 'Hőmérséklet: '+ chartJSON.city.name,
                subtitle: 'Érték: (Celsius)'
            },
            width: widthClass,
            height: heightClass
        };
        console.log(highestId);

        console.log(document.getElementById(chartID));
        chart = new google.charts.Line(document.getElementById(chartID));

        google.visualization.events.addListener(chart, 'select', readyHandler);

        var rows = createArray (chartJSON);
        chartdata.addRows(rows);

        console.log('ajaj');
        console.log(subscribed)
        console.log(citycntr);
        //console.log(myElements.includes(elemid.chartID))


        callback();
        if (chartID!=myElements[myElements.length-1].elemid && subscribed == 0){
            setTimeout(function(){loadStoredElements(citycntr+1)}, 300)
        } else {

        }
        var aTag = document.createElement('a');
        aTag.onclick = removeItem;
        aTag.innerHTML = "";
        actualElement = document.getElementById(LastElement.id );

        actualElement.appendChild(aTag);



    }


    //2Dimenziós tömb
    function createArray(array) {
        var iMax = array.list.length;
        var jMax = 2;
        var f = new Array();

        var month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Márc";
        month[3] = "Ápr";
        month[4] = "Máj";
        month[5] = "Jún";
        month[6] = "Júl";
        month[7] = "Aug";
        month[8] = "Szept";
        month[9] = "Okt";
        month[10] = "Nov";
        month[11] = "Dec";

        for (i=0;i<iMax;i++) {
            f[i]=new Array();
            for (j=0;j<jMax;j++) {
                if(j==0){
                    var t = new Date( (array.list[i].dt)*1000 );

                    var resultstring = month[t.getMonth()] + "." + t.getDate();


                    f[i][j]=resultstring;
                }
                else{
                    f[i][j]=array.list[i].temp.day-273.15;
                }

            }
        }
        return f;
    }

    /********************** Chart adatai**************************/

    google.load('visualization', '1.1', {packages: ['line']});

    google.setOnLoadCallback(nextChart);

    function nextChart() {
        if(myElements.length>0){
            loadStoredElements(0);
        }
    }

</script>



</body>
</html>